<div class="container mt-2">
  <div class="row justify-content-between">
    <h2 class="edit-employee-company__title">
      Vincular Funcionário a uma Empresa
    </h2>
  </div>
  <form class="needs-validation" novalidate [formGroup]="form">
    <div class="row">
      <div class="col-12 d-flex flex-column">
        <label class="edit-employee-company__input-label">Nome</label>
        <input
          type="text"
          class="edit-employee-company__input form-control"
          disabled
          formControlName="nome"
        />
      </div>
      <div class="col-12 d-flex flex-column mt-3">
        <label class="edit-employee-company__input-label">Empresa</label>
        <div class="input-group mb-3">
          <select
            class="form-select"
            id="inputGroupSelect01"
            formControlName="companyId"
          >
            <option [value]="company.id" *ngFor="let company of companyData">{{
              company.nome
            }}</option>
          </select>
        </div>
      </div>
    </div>
    <button
      type="button"
      class="btn btn-primary mr-2 mt-3"
      (click)="editCompany()"
      [disabled]="!form.valid"
    >
      Salvar
    </button>
    <button type="button" class="btn btn-dark mt-3" (click)="backRoute()">
      Voltar
    </button>
  </form>
  <div class="alert alert-success" role="alert" *ngIf="alertFlag">
    Salvo com sucesso!
  </div>
</div>
