<div class="container">
  <div class="row justify-content-between">
    <h2 class="edit-employee-company__title">Vincular Funcionário a uma Empresa</h2>
  </div>
  <form>
    <div class="row">
      <div class="col-12 d-flex flex-column">
        <label class="edit-employee-company__input-label">Nome</label>
        <input type="text" class="edit-employee-company__input" />
      </div>
      <div class="col-6 col-md-9 d-flex flex-column mt-3">
        <label class="edit-employee-company__input-label">Empresa</label>
        <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary mr-2 mt-3">Salvar</button>
    <button type="button" class="btn btn-dark mt-3">Voltar</button>
  </form>
</div>
