<div class="container">
  <div class="row justify-content-between">
    <h2 class="position-register__title">{{ title }}</h2>
  </div>
  <form>
    <div class="row">
      <div class="col-12 d-flex flex-column">
        <label for="description" class="position-register__input-label">Descrição</label>
        <input type="text" class="position-register__input" id="description" />
      </div>
    </div>
    <button type="button" class="btn btn-primary mr-2 mt-3">Salvar</button>
    <button type="button" class="btn btn-dark mt-3">Voltar</button>
  </form>
</div>
