<div class="container mt-2">
  <div class="row justify-content-between">
    <h2 class="company-register__title">{{ title }}</h2>
  </div>
  <form class="needs-validation" novalidate [formGroup]="form">
    <div class="row">
      <div class="col-12 d-flex flex-column">
        <label class="company-register__input-label">Nome</label>
        <input
          type="text"
          class="company-register__input form-control"
          [ngClass]="{
            'is-invalid':
              form.controls.nome.invalid &&
              (form.controls.nome.touched || form.controls.nome.dirty)
          }"
          formControlName="nome"
        />
        <div
          *ngIf="
            form.controls.nome.invalid &&
            (form.controls.nome.touched || form.controls.nome.dirty)
          "
          class="invalid-feedback"
        >
          Campo Obrigatório
        </div>
      </div>
      <div class="col-9 d-flex flex-column mt-3">
        <label class="company-register__input-label">CNPJ</label>
        <input
          type="text"
          class="company-register__input form-control"
          [ngClass]="{
            'is-invalid':
              form.controls.cnpj.invalid &&
              (form.controls.cnpj.touched || form.controls.cnpj.dirty)
          }"
          formControlName="cnpj"
          placeholder="00.000.000/0000"
          mask="CPF_CNPJ"
        />
        <div
          *ngIf="
            form.controls.cnpj.invalid &&
            (form.controls.cnpj.touched || form.controls.cnpj.dirty)
          "
          class="invalid-feedback"
        >
          CNPJ está inválido.
        </div>
      </div>
      <div class="col-3 d-flex flex-column mt-3">
        <label class="company-register__input-label">Data Fundação</label>
        <input
          type="date"
          class="company-register__input form-control"
          formControlName="dataFundacao"
        />
      </div>
    </div>
    <button
      type="button"
      class="btn btn-primary mr-2 mt-3"
      (click)="handleSubmit()"
      [disabled]="!form.valid"
    >
      Salvar
    </button>
    <button type="button" class="btn btn-dark mt-3" (click)="backRoute()">
      Voltar
    </button>
  </form>
  <div class="alert alert-success" role="alert" *ngIf="alertFlag">
    Salvo com sucesso!
  </div>
</div>
